{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="login-container">
    <form method="post" class="login-form">
        <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Usuário</label>
          <input type="text" class="form-control" id="exampleInputUsername1" name="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}